/* CSS for Bootstrap Blog */

body {
  background-image: url("../img/triangle_sky.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  background-repeat: repeat-y;
}

.navbar {

}
.nav-tabs > li > a{
  background-color: lightgray;
  color: black;
}

.nav-tabs > li.active > a{
  color: black;
  background-color: #EFF0F1 !important;
}

.nav-tabs > li > .dropdown-menu{
  background-color: lightgray !important;
}

.jumbotron {
  background-color:#EFF0F1 !important;
}
