/*
   Main Style Sheet for index.html
   author: Evan Bonsignori
*/

/* Don't Display meta information */
head { 
    display: none;
}

/* Social Media Icons */
.icons {
	overflow: auto;
}

.icons  li {
	list-style-type: none;
	float: left;
}

.icons li a span {
	color: #fff;
	width: 1.3em;
	height: 1.3em;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}

.icons  .fa-facebook {
    background: #3b5998;
} 
.icons  .fa-linkedin {
    background: #007bb6;
}
.icons  .fa-github {
    background: #205D7A;
}
.icons  .fa-instagram {
    background: #8a3ab9;
}

.icons  li a i:hover {
    opacity: .7;
}


/* Page Wrapping */
#name-wrapper {
display: inline-block;
}

#content-select {
    margin: 45px;
    display: inline-block
}

/* Losange Images */
 .losange, .losange div {
 position: relative;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 220px;
  height: 220px;
}

.losange {
  transform: rotate(45deg) translateY(10px);
}
 
.losange .los1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}

.losange .los1 img {
  width: 100%;
  height: auto;
}



/*
@media screen and (max-width: 1280px) {

    

}

@media screen and (max-width: 980px) {

    

}

@media screen and (max-width: 736px) {


}

@media screen and (max-width: 480px) {

     
}
*/